.card {
  display: flex;
  flex-direction: column;
  max-width: 25.75rem;
  gap: 2rem;
  margin: 2rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  padding: 2rem;

  .card-image {
    img {
      background: var(--blue-100);
      padding: 1rem;
      border-radius: 50%;
    }
  }

  .card-title {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.35rem + 0.64vw, 1.75rem);
    font-weight: 700;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray-100);
    .selectionDiv {
      display: flex;
      justify-content: space-between;
    }
  }
  button {
    padding: 1rem;
    width: 100%;
    background-color: var(--orange);
    color: var(--blue-200);
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin-top: 1rem;
    text-transform: uppercase;
    &:hover {
      background-color: var(--white);
      color: var(--blue-200);
    }
  }
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: var(--blue-100);
  cursor: pointer;
}
.active {
  background-color: var(--orange);
  color: var(--blue-200);
}
.hover {
  background-color: var(--white);
  color: var(--blue-200);
}

.result-card {
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  img {
    max-width: 162px;
  }
  p {
    color: var(--orange);
    background-color: var(--blue-100);
    padding: 0.5rem 1rem;
    border-radius: 30px;
  }
}
